%h1 Welcome
%p to the Bike Shop Order Tracker.
%p
  We currently have
  = @unpaid_order_count
  unpaid and
  = "#{pluralize(@unfinished_order_count, 'unfinished order')}."

= link_to 'Orders', orders_path
